<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Users</title>


</head>
<body>

<div class="container my-2">
    <a th:href = "@{/showNewClanForm}" class="btn btn-primary" >Add Clan</a>
    <h1>Clans list</h1>
    <table border="1" class="table table-sm table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Language</th>
            <th scope="col">Description</th>
            <th> Actions </th>

        </tr>

        </thead>
        <tbody>
        <tr th:each="clan:${listClans}">
            <td th:text="${clan.id}"></td>
            <td th:text="${clan.name}"></td>
            <td th:text="${clan.language}"></td>
            <td th:text="${clan.description}"></td>
            <td><a th:href="@{showClanFormForUpdate/{id}(id=${clan.id})}" class="btn btn-secondary">Update</a>
                <a th:href="@{deleteClan/{id}(id=${clan.id})}" class="btn btn-danger">Delete</a> </td>

        </tr>
        </tbody>

    </table>

</div>
<a href="/logout">log out</a> <br>
<a href="/">go home</a>
</body>
</html>